.container {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 2rem 0;
    background: linear-gradient(45deg, #03a8e8, #70c573);
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

.containerMenu {
  width: 90%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.Titulo {
  color: #ffffff;
  font-size: 4rem;
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight:bold;
  cursor: default;
}

.span{
  width: 3rem;
  height: 0.5rem;
  background-color: aliceblue;
  margin-top: 0.5rem;
}

.logoTipoMundoFelino2{
  width: 10rem;
  height: 10rem;
  background: radial-gradient(circle, rgb(255, 255, 255), transparent);
  background-size: rem;
  border-radius: 60%;
}
.menuSocial{
  cursor: pointer;
}
.subMenu{
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.438);
  position: fixed;
  transform: translate(0%, -10%);
  z-index: 1;
  
}
.subMenuConteudo{
  z-index: 2;
  width: 18rem;
  padding-top: 5rem;
  height: 100%;
  color: rgb(224, 237, 248);
  background-color: rgba(0, 0, 0, 0.8);
 
}
.subMenuConteudo a{
 text-decoration: none;
 color: #ddd;
 border: 2px solid #03a8e8 

}
@media (max-width: 900px) {
  .containerMenu{
    width: 99%;
  }
}
@media (max-width: 800px) {
  .logoTipoMundoFelino2{
    display: none;
  }
}
@media (max-width: 600px) {
  .span{
    display: none;
  }
  .Titulo{
    font-size: 2rem;
  }
  .containerMenu{
    box-shadow:none;
    padding: 0px;
    width: 100%;
    display: block;
    justify-content: none;
    align-items: none;
  }
}
@media (max-width: 350px) {
  .divNav{
    flex-wrap: wrap;
    display: flex;
  }
}