.App {
  text-align: center;
}
.menuNavTitulo{
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border: 5px solid transparent;
  border-radius: 8px;
  transition: border ease 1s;

}
.menuNavTitulo:hover{
  border: 5px solid white;
 
}
