
.container{
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerConteudo{
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 0.5rem;
}

.botaoProximaPage{
    color: #fff;
    background-color: #03a8e8;
    font-family: "Josefin Sans", serif;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: none;
    width: 3rem;
    height: 2.5rem;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
}
